.rounded-circle {
    border-radius: 50%!important;
}
.media {
    background-color: #ccc;
    padding: 50px 10px;
}
.media1 {
    background: #ccc;
    padding: 10px 20px;
    border-bottom: 1px solid #fff;
}



.container {
	width: 100%;
}


.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}

.search-label {
	position: relative;
}

.container input {
	width: 100%;
	padding: 5px;
	font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}

.search-icon {
	position: absolute;
	top: 20px;
	font-size: 24px;
	color: #555;
	right: 18px;
}

/*Result Container*/
.results-container {
	display: flex;
	flex-flow: wrap;
}

.result-item {
	position: relative;
	padding: 16px;
	border: 1px solid #898989;
	margin: 16px;
	text-align: center;
	min-width: 200px;
	box-shadow: 2px 2px 2px #898989;
}

.image-username {
	color: #ff7f50;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	background-color: rgba( 0 ,0 ,0 , 0.8 );
	padding: 5px 10px;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-self: center;
	box-sizing: border-box;
	height: 100%;

}

.image {
	width: 100%;
	height: 200px;
}

/*Loader*/
.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

/*Show and hide*/
.show {
	display: inline-block;
}

.hide {
	display: none;
}

/*Prev and next*/

.nav-link-container {
	margin: 20px 0;
	display: flex;
	justify-content: flex-end;
}

.nav-link {
	color: #555;
	text-decoration: none;
	border: 1px solid #898989;
	padding: 10px 20px;
	margin-right: 10px;
}

.greyed-out {
	background: #f1f1f1;
	opacity: 0.5;
}


/** Card Css */

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
	margin: 20px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-container {
	padding: 2px 16px 10px;
  }
  
  .card-column {
	float: left;
	width: 33.33%;
    padding-left: 15px;
	
  }
  
  /* Clear floats after the columns */
  .card-row:after {
	content: "";
	display: table;
	clear: both;
	margin-top: 10px;
  }
  